@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
{
   padding: 0;
   margin: 0;
  background: #222;
    font-family: "Poppins", cursive;
}
header
{
  height: 70px;
  width: 100%;

  
  align-items: center;
  justify-content: center;

}
#side{
    width: 50px;
    mix-blend-mode: multiply;
    margin: 10px;
    display: none;
}
#cancel{
    width: 50px;
    margin: 10px;
    display: none;
}
header nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}
header nav a{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 20px;
   
}
.container1{
    padding: 2% 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
}
.container1 .diff{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.container1 .content{
    height: 430px;
    
    width: 600px;
    padding: 40px 70px;
    border-radius: 10px;
    background: #999;
    box-shadow:inset  0px 50px #13e2e2;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.container1 .content .most{
    text-align: center;
    border-radius: 52px;
    padding: 20px 20px;
    height: 400px;
    border-radius: 20px 70px;
    width: 300px;
    background: #555;
    color: #fff;
    gap: 30px;
    box-shadow: 0px 0px 5px #999;
   
}


.container1 .content img{
    height: 200px;
    width: 200px;
    padding: 20px 30px;
    border-radius: 200px;
}
.container2{
    padding: 20px;
    text-align: center;
    gap: 20px;
}
.container2 h2{
    font-size: 1.6rem;
    color: #13e2e2;
}

.container2 p{
    font-size: 1.2rem;
    color: #fff;
}
.container2 button{
    font-size: 1.6rem;
    padding: 10px 25px;
    outline: none;
    border: none;

    color: #13e2e2;
    border-radius: 8px;
    font-family: "Poppins", cursive;
    font-size: 20px;
}

.footer{
    color: #fff;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer ul{
    list-style: none;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.social img{
    width: 50px;
    gap: 30px;
}



@media(max-width:1055px){
    .container2{
        margin-left: 90px
    }
    .container2 p{
        padding:10px -30px;
        text-align: center;
        
        
    }

}

@media(max-width:1038px){
   .container1 .diff{
    gap: 30px;
   }
   .container2 {
    margin-left: -30px;
}
}
@media(max-width:946px){
    .container1 .content{
        height: 430px;
        
        width: 300px;
        padding: 40px 70px;
        border-radius: 10px;
        background: #999;
        box-shadow:inset  0px 50px #13e2e2;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
}
@media(max-width:800px){
    body{
        justify-content: center;
    }
    header{
        background: #999;
        width: 140%;
        height: 80px;
        margin-top: -5px;
    }
    header nav{
        flex-direction: column;
        background: black;
        height: 500px;
        margin-top: 30px;
        width: 140%;
        margin-left: -5px;
        position: absolute;
        bottom: 147px;
        display: none;
    }
    .container1 .diff{
        flex-direction: column;
        padding-left: 280px;
    }
    .container2 h2{
        font-size: 3.5rem;
    }
    .container2 p{
        font-size: 2rem;
    }
    .container1 .content{
        height: 430px;
        
        width: 400px;
        padding: 40px 70px;
        border-radius: 10px;
        background: #999;
        box-shadow:inset  0px 50px #13e2e2;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .container1 .content .most{
        margin-left: 40px;
    }
    .footer{
        margin-left:80px;
        gap: 130px;
    }
    .social{
        margin-left:200px;
        
    }
    .my h2{
        margin-left:140px; 
    }
}

@media(max-width:750px){
 .container1{
    padding: 20px 30px;
    margin-left: -140px
 }
 .container1 .content{
    height: 430px;
    
    width: 300px;
    padding: 40px 70px;
    border-radius: 10px;
    background: #999;
    box-shadow:inset  0px 50px #13e2e2;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.container1 .content .most{
    margin-left: -10px;
}
}
@media(max-width:550px){
    #side{
        width: 50px;
        mix-blend-mode: multiply;
        padding: 17px;
        display: block;
    }
    #cancel{
        width: 50px;
        
        display: none;
        padding: 17px;
    }
    .footer{
        flex-direction: column;
        gap: 10px;
        margin-left: -20px;
        font-size: 1.4rem;
    }
}


@media(max-width:450px)
{
    .container1{
        margin-left: -92px;
    }
}